/* PRODUCT DETAILS */
main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.details-container{
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .columns-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  