.cart-product{
    display: flex;
}
.cart-product .cart-product__info{
    display: flex;
    flex-direction: column;
}
.cart-product .cart-product__image{
    width: 120px;
    height: 120px;
}
.cart-product .cart-product__image img{
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    background-size: contain;
}
.cart-product .cart-product__info .product__info-brand{
    font-size: 12px;
    color: #878787;
}
.cart-product .cart-product__info .product__info-name{
    font-size: 14px;
    color: #222;
}
.cart-product .cart-product__info .product__info-price{
    font-size: 14px;
}
.cart-product .cart-product__info .product__info-variant{
    font-size: 12px;
    color: #878787;
}
.cart-product .cart-product__info .product__info-options{
    display: flex;
    gap: 10px;
}
.cart-product .cart-product__info .product__info-quantity{
  display: flex;
  align-items: center;
  gap: 1em;
}
.icon-close-cart{
  background-image: url("/icon-close-cart.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon-edit-cart{
  background-image: url("/icon-edit-cart.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
}
.icon-delete-cart{
  background-image: url("/icon-delete-cart.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.icon-liked{
  cursor: pointer;
}
.icon-cart-empty {
  background-image: url("/cart-empty-dark.svg");
  background-size: contain;
  width: 59px;
  height: 52px;
}

.inp-qty{
    border: 1px solid #cecece !important;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    max-width: 50px;
    font-size: 16px;
  }

.inp-qty-cart{
    background-color: #fdfdfd;
    border: 1px solid #898989 !important;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    max-width: 50px;
    font-size: 16px;
}